<!DOCTYPE html>
<html lang="en" >
<meta charset="UTF-8" xmlns:th="http://thymeleaf.org">

<head>
    <link rel="stylesheet"  href="../static/bootstrap/css/bootstrap.min.css"  th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <meta charset="UTF-8">
    <title>Calendario</title>


    <link rel='stylesheet' href='webjars/fullcalendar/3.5.1/dist/fullcalendar.css' />
    <script src="webjars/jquery/2.0.3/jquery.min.js"></script>
    <script src='webjars/moment/2.19.1/min/moment.min.js'></script>
    <script src='webjars/fullcalendar/3.5.1/dist/fullcalendar.js'></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                events: {
                    url : '/api/event/all'
                }
            });
        });
        </script>
</head>

<!-- Encabezado -->
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <br><h1 class="center-text"> Sistema de Salud Autónomo de Baja California </h1></div>
    </div>
</div>
<!-- Barra de navegación -->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                <li class="nav-item"><a class="nav-link" href="/">Principal</a></li>
                <li class="nav-item dropdown">
                <li class="nav-item"><a class="nav-link" href="/pacientes">Citas</a></li>
            </ul>
        </div>
    </nav>
</div>


<br>


<div class="container">
    <div class="col">
        <div class="col">
            <div clas="col-7">
                <div id="calendar"></div>
            </div>
        </div>
    </div>

</div>




</body>
<!--<script type="text/javascript" th:src="@{/vendor/assets/full_calendar.js}"></script>-->




</html>
